/*---------fonts added here----*/
/* general settings */
*{margin:0; padddng:0;}
html {
  height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}
body {
  background-color:#f8f8f8;
  color:#333;
  font-weight:100;
  margin:0;
  height:100%;
  width:100%;
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration:none;
}
img{max-width:100%; border:0;}
ul,li{list-item:none; list-style:none; margin:0; padding:0;}
a img {
  border:none;
}
h1 {
  font-size:3.5em;
  font-weight:100;
}
p {
  font-size:1.5em;
}
input,textarea {
  -webkit-appearance:none;
  border:none;
  outline:none;
   padding:0;

}
input:focus,textarea:focus {
  border:none;
  border-radius:0;
  outline-offset: 0;
}
.left {
  float:left;
}
.right {
  float:right;
}
.main{
	width:1600px;
	margin:0 auto;
	
}

/* header section */
header {
  height:80px;
  background:#424242;
  font-weight:400;
  margin-bottom:50px;
}
header .logo {
  padding:30px 0 0 30px;
}
header nav {
  float:right;
  margin:22px 0;
}
header nav ul {
  margin:0;
  padding:0;
}
header nav ul li {
  display:block;
  float:left; line-height: 36px;
}
header nav ul li a {
  color:#fff;
  font-size:14px;
  font-weight:400;
  padding:0 17px;
  text-decoration:none;
  text-transform:uppercase;
}
header nav ul li a.active {
  background-color:#c33c3a;
  color:#fff;
}
header nav ul li a.active:hover {
  background-color:#d2413f;
  color:#fff;
}
header nav ul li a:hover,header nav ul li a.activeSmall {
  color:#c33c3a;
}

/*------mid container css-----------*/
.master-mid{margin:0 30px;}
.left-master-search{float:left; width:270px;}
.middle-calender-search{float:left; max-width:913px;margin:0 20px;}
.advertisement-master{float:left; width:300px;}
.advertise-list{margin-bottom:20px; height:250px;}
/*-------------left todo css-------*/
.todomaster-panels{padding:10px 0; background:#fff;}
.addmasteritems{
	font-weight: 700;
    font-size: 16px;
    color: #424242;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 22px;
    margin-top: 5px;
    margin-right: -12px;

}
.addmasteritems img {
    float: right;
    margin-top: 5px;
	position:relative;
	right:30px;
}
.todo-list-menu li{ float:left; border-right:1px solid #e2e2e2 }
.todo-list-menu li a{padding:0 21px; color:#424242; font-size:12px; font-weight:400; text-transform:uppercase;}

.todo-list-menu li.active a{color:#ea4d5b;}
.todo-list-menu li.last{border-right:0;}
	
.bottom-list-menu li{ float:left; border-right:1px solid #e2e2e2 }
.bottom-list-menu li a{padding:0 12px; color:#424242; font-size:13px; font-weight:400; text-transform:uppercase;}

.bottom-list-menu li.active a{color:#ea4d5b;}
.bottom-list-menu li.last{border-right:0;}

.manage-menu-items{}	
.heading-text{ font-size:12px; font-weight:600; text-transform:uppercase; color:#414141; padding-bottom:10px; margin-bottom:10px; border-bottom:1px solid #ececec;}
.heading-text img{  
	margin-left: 11px;
    position: relative;
    top: 3px;
    margin-right: 4px;
}
.todo-list-menu{
	
	padding-bottom: 16px;
    border-bottom: 1px solid #ececec;
    overflow: hidden;
}
.scheduled-items{margin-left: 0}
.scheduled-items li{ font-size:12px; font-weight:600; color:#414141; padding: 9px 0;}
.scheduled-items li.last{padding-bottom: 5px;}
/*.scheduled-items li:hover{background:#ececec; cursor:pointer;}*/
.list-items{
	padding-top: 8px;
	padding-bottom:10px;
    border-bottom: 1px solid #ececec;}
.bottom-list-menu{overflow:hidden; padding-bottom:5px; margin-top:15px;}

.add-items{
	background: #ea4d5b;
    height: 37px;
    width: 60px;
    color: #fff;
    text-align: center;
    float: right;
    cursor: pointer;
    font-size: 17px;
    font-weight: 400;


}
.inputsearch{
	border: 1px solid #ececec;
    background: #f8f8f8;
    height: 35px;
    width: 179px;
    float: left;
    font-size: 11px;
    font-weight: 600;
    color: #414141;
    display: inline-block;
    padding-left: 9px;
	}
	
.inputsearch::-webkit-input-placeholder {
   color: #414141;
}

.inputsearch:-moz-placeholder { /* Firefox 18- */
  color: #414141; 
}

.inputsearch::-moz-placeholder {  /* Firefox 19+ */
   color: #414141;
}

.inputsearch:-ms-input-placeholder {  
   color: #414141;
}
	.inputsearch:focus{ padding-left: 9px; border:1px solid #ececec;}
	.form-search{overflow:hidden; margin-bottom:10px; margin-top:-5px;}
	
/*--------checkbox css--------*/

/* .squaredThree */
.squaredThree {
  position: relative;
  padding: 5px 10px;
}
/*.squaredThree span{ margin-left:23px; position:relative; top:2px;}*/
.squaredThree span{
   margin-left: 27px;
    margin-top: -5px;
}
.squaredThree span{ 
	display:inline-block;
    width:180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.squaredThree label {
	width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 0;
    background: #ececec;
    border-radius: 50%;
}

.squaredThree.checked label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  left: 0;
  background:#ea4d5b;
  border-radius: 50%;
}
.squaredThree label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #fcfff4;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.squaredThree.checked label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 1px solid #fff;
  border-top: none;
  border-right: none;
  opacity: 1;
  background: transparent;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.squaredThree input[type=checkbox] {
  visibility: hidden;
}
.squaredThree input[type=checkbox]:checked + label:after {
  opacity: 1;
}	

.errormessage{ font-size:12px; color:#ff0000; font-weight:400; text-align:center;}
.inputsearch{
	height: 34px;
	width: 178px;
}
.scheduled-items li{cursor:pointer;}
.scheduled-items li:hover{background:#ececec;}
.hover-icons{
	position: absolute;
    left: 25px;
    top: 8px;
}
.hover-dotted{
	position: absolute;
    right: 10px;
    top: 8px;
	
}
.hovershow{ display:none;}
.scheduled-items li:hover .hovershow{ display:block;}
.scheduled-items li.checked:hover .hovershow.icons1{ display:none;}
.popup{
	position: absolute;
    top: 25px;
    background: #fff;
    font-size: 12px;
    color: #333;
    right: 0;
    padding: 10px;
    top: 29px;
    z-index: 1006;
	/*display:none;*/
	width:135px;
	box-shadow: 5px 5px 5px #ccc;
}
.popup ul li a{
	border-bottom:1px solid #ececec;
	color:#414141;
	text-decoration:none;
	 display:block;
	 padding:4px 10px 5px;
}
.popup ul li.last a{
	border-bottom:none;
}
.popup ul li a:hover{
background:none;
color:#e94d5b;
}
.scheduled-items .popup  li{padding:0;}
.scheduled-items .popup  li:hover{
background:none;
}
.scheduled-items li.checked:hover{
background:none;
}
.scheduled-items li.checked .hovershow{ display:none;}
.todo-list-menu ul{margin-left:10px;}
.heading-text{margin-left:10px;}
.form-search{margin-left:10px;}
.scheduled-items li{padding-left:20px;}
.squaredThree label,.squaredThree.checked label{left:20px;}
.bottom-list-menu ul{margin-left:30px;}
* {margin:0; padding:0; box-sizing: border-box}

#accordion {width:459px; margin:50px auto}
.accordion {width:459px; font:12px Verdana,Arial; color:#033}
.accordion dt {width:439px; border:2px solid #9ac1c9; padding:8px; font-weight:bold; margin-top:5px; cursor:pointer; background:url(/assets/images/header.gif)}
.accordion dt:hover {background:url(/assets/images/header_over.gif)}
.accordion dd {overflow:hidden; background:#fff}
.accordion span {display:block; width:425px; border:2px solid #9ac1c9; border-top:none; padding:15px}

#accordion2 {width:100%; margin:0 auto; border-top:none}
.accordion2 {width:100%; color:#333}
.accordion2 dt {width:100%; padding:10px 20px; font-weight:bold; cursor:pointer; background-color:#FFFFFF; background-image:url(/assets/images/open.png); background-position:right 20px center; background-repeat:no-repeat; color:#333333; border-bottom:1px solid #f1f1f1; font-size: 12px; font-weight: normal; line-height: 21px;}
.accordion2 dt img{float: left; margin-right: 10px;}
.accordion2 dt:hover {background-color:#FFFFFF}
.accordion2 .open {background-color:#FFFFFF; background-image:url(/assets/images/close.png)}
.accordion2 dd {overflow:hidden; background:#fff; padding: 0 20px;}
.accordion2 span {display:block; width:100%; border-top:none; padding:15px 0}


@-moz-document url-prefix() { 
  .squaredThree span {
    margin-left: 27px;
    margin-top: -5px;
}
}
/* responsive rules */
@media (max-width: 1599px) {
.main{
	width:auto;
	max-width:1600px;
	margin:0 auto;
	
}	
.middle-calender-search {
    float: left;
    max-width: 900px;
    margin: 0 20px;
}	

.inputsearch{
	height: 34px;
	width: 178px;
}
}

@media (max-width: 1560px) {	
.middle-calender-search {
    float: left;
    max-width: 880px;
    margin: 0 20px;
}	

.inputsearch{
	height: 34px;
	width: 178px;
}

}

@media (max-width: 1530px) {	
.middle-calender-search {
    float: left;
    max-width: 825px;
    margin: 0 20px;
}	
}

@media (max-width: 1500px) {	
.middle-calender-search {
    float: left;
    max-width: 820px;
    margin: 0 20px;
}	
}
@media (max-width: 1450px) {	
.middle-calender-search {
    float: left;
    max-width: 780px;
    margin: 0 20px;
}	
}

@media (max-width: 1400px) {	
.middle-calender-search {
    float: left;
    max-width: 730px;
    margin: 0 20px;
}	
}
@media (max-width: 1395px) {	
.middle-calender-search {
    float: left;
    max-width: 678px;
    margin: 0 20px;
}	
}
@media (max-width: 1370px) {	
.middle-calender-search {
    float: left;
    max-width: 650px;
    margin: 0 20px;
}	
}

@media (max-width: 1350px) {	
.middle-calender-search {
    float: left;
    max-width: 675px;
    margin: 0 20px;
}	
}

@media (max-width: 1300px) {	
.middle-calender-search {
    float: left;
    max-width: 550px;
    margin: 0 20px;
}	
}
@media (max-width: 1250px) {	
.middle-calender-search {
    float: left;
    max-width: 580px;
    margin: 0 20px;
}	
}

@media (max-width: 1200px) {
    body {
      font-size:90%;
    }
    h1 {
      font-size:4.3em;
    }
    p {
      font-size:1.3em;
    }

    header nav ul li {
      margin-right:12px;
    }
    header nav ul li a {
      padding:10px 12px;
    }
	.middle-calender-search {
    float: left;
    max-width: 530px;
    margin: 0 20px;
}
}

@media (max-width: 1150px) {
    .middle-calender-search {
    float: left;
    max-width: 480px;
    margin: 0 20px;
}
}

@media (max-width: 1100px) {
    .middle-calender-search {
    float: left;
    max-width: 430px;
    margin: 0 20px;
}
}

@media (max-width: 1050px) {
    .middle-calender-search {
    float: left;
    max-width: 380px;
    margin: 0 20px;
}
}


@media (max-width: 1030px) {
    .middle-calender-search {
    float: left;
    max-width: 350px;
    margin: 0 20px;
}
}
@media (max-width: 1000px) {
    .middle-calender-search {
    float: left;
    max-width: 300px;
    margin: 0 20px;
}
}

@media (max-width: 950px) {
    .middle-calender-search {
    float: left;
    max-width: 300px;
    margin: 0 20px;
}
}

@media (max-width: 900px) {
    .middle-calender-search {
    float: left;
    max-width: 300px;
    margin: 0 20px;
}
}

@media (max-width: 850px) {
    .middle-calender-search {
    float: left;
    max-width: 300px;
    margin: 0 20px;
}
}

@media (max-width: 800px) {
    .middle-calender-search {
    float: left;
    max-width: 300px;
    margin: 0 20px;
}
}

@media (max-width: 768px) {
    body {
      font-size:80%;
      margin:0;
    }
    h1 {
      font-size:4em;
    }
    header {
      height:70px;
    }
    header nav ul li {
      margin-right:5px;
    }
    header nav ul li a {

      padding:8px;
    }
	
}

@media (max-width: 480px) {
    body {
      font-size:70%;
      margin:0;
    }
    header nav {
      margin-top:3px;
    }
    header nav ul li {
      margin-right:3px;
    }
    header nav ul li a {
      border-radius:20px;
      padding:5px 2px;
     
    }    
}

/* Alpesh */
header nav ul li.user{background: #FFFFFF; border-radius: 5px; padding: 5px 10px; line-height: 25px; position: relative}
header nav ul li.user img{float: left;}
header nav ul li.user i{font-size: 20px; position: relative; right: -14px; top: 3px;}
header nav ul li.user a{color: #000000;}
header nav ul li.user ul {visibility:hidden; position:absolute; top:0; left:0px; height:0; overflow:hidden;background:none; z-index:100; top: 10px;}
header nav ul li.user:hover ul,
header nav ul li.user a:hover ul {visibility:visible; width:155px; margin-left:0; background:#FFFFFF; height:auto; position:absolute; top:36px; left:0; border:0px solid #000000; overflow:visible; border: 1px solid #d0d0d0; border-radius: 5px;}
header nav ul li.user:hover ul li{border-bottom: 1px solid #d0d0d0}
header nav ul li.user:hover ul li:last-child{border-bottom: none;}
header nav ul li.user:hover ul li a,
header nav ul li.user:hover ul li a {display:block; border:0px solid #00FF33;  text-align:left; text-decoration:none; color:#000000; height:auto; line-height:1.3em; padding:8px; width:110px; w\idth:155px; box-sizing: border-box;}
header nav ul li.user:hover ul li a:hover{color: #c33c3a}

.overlay {width: 100%; min-height: 100vh; display: flex; justify-content: center; align-items: center; flex-direction: column; padding: 0; position: fixed; top: 0; left: 0; background: rgba(0, 0, 0, 0.75); opacity: 0; pointer-events: none; transition: 0.35s ease-in-out; max-height: 100vh; overflow-y: auto; z-index: 1;}
.overlay.open {opacity: 1; pointer-events: inherit;}
.overlay .modal {background: white; text-align: center; padding: 20px 0; box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.35); opacity: 0; pointer-events: none; transition: 0.35s ease-in-out; max-height: 100vh; width: 380px; border-radius: 5px;}
.overlay .modal .header{background: #ea4d5b; font-size: 33px; color: #FFFFFF; font-weight: bold; margin: 0 -20px; border-radius: 5px 5px 0 0; padding: 20px; box-sizing: border-box;}
.overlay .modal .header span{display: block;}
.overlay .modal .text{background: #ececec; color: #000000; margin: 0 -20px; border-radius: 0 0 5px 5px; padding: 40px 40px; box-sizing: border-box; }
.overlay .modal .text p{font-size: 16px;}
.overlay .modal .text p a{color: #0752b7; text-decoration: underline}
.overlay .modal .text .input{margin-bottom: 10px; height: 45px; line-height: 45px; padding: 0 10px; width: 100%; box-sizing: border-box; font-size: 16px;}
.overlay .modal .text .input.name{background: #ffffff url(/assets/images/name-icon.png) no-repeat right center}
.overlay .modal .text .input.email{background: #ffffff url(/assets/images/email-icon.png) no-repeat right center}
.overlay .modal .text .input.phone{background: #ffffff url(/assets/images/phone-icon.png) no-repeat right center}
.overlay .modal .text .input.passowrd{background: #ffffff url(/assets/images/password-ixon.png) no-repeat right center}
.overlay .modal .text .submit{border: none; background: #ffc600; border-bottom: 4px solid #c69101; font-size: 18px; color: #000000; text-transform: uppercase; border-radius: 5px; width: 100%; height: 45px; line-height: 45px; text-align: center; margin: 10px 0 20px;}
.overlay .modal.open {opacity: 1; pointer-events: inherit;}
.overlay .modal.open .content {transform: translate(0, 0px); opacity: 1;}
.overlay .modal .content { transform: translate(0, -10px); opacity: 0; transition: 0.35s ease-in-out;}
.overlay .modal .title {margin-top: 0;}

/* Alpesh */
.addmasteritems{line-height: 30px; border-bottom: 1px solid #f1f1f1; padding-bottom: 10px; margin: 5px 0 10px;}
.todomaster-panels form{/*padding: 0 20px;*/ border-bottom: 1px solid #f1f1f1; padding-bottom: 10px;}
.todomaster-panels form img{position: relative; top: 7px; left: 4px;}
.todomaster-panels form .input{border: 1px solid #ececec; background: #f8f8f8; line-height: 40px; height: 40px; padding: 0 8px; margin-bottom: 10px; width: 76%;}
input#submit    {
background:url(/assets/images/plus.png);
background-repeat: no-repeat;
width:40px;
height:40px;
border: 0;
margin-right: 14px;
margin-top: 5px;
}
.todomaster-panels form .select{-webkit-appearance: none; -moz-appearance: none; appearance: none; border: 1px solid #ececec; background: #f8f8f8 url(/assets/images/select-arrow.png) no-repeat right 10px center; line-height: 40px; height: 40px; padding: 0 8px; width: 76%;}
.left-navi{padding: 0;}
.left-navi h3{font-size: 14px; color: #f36c62; font-weight: bold; text-transform: uppercase; margin: 0 0 10px;}
.left-navi ul{margin: 0 0 30px; padding: 0; list-style: none}
.left-navi ul:last-child{margin-bottom: 0;}
.left-navi ul li{font-size: 14px; line-height: 30px; color: #000000; padding-left: 10px; position: relative;}
/*.left-navi ul li:before{background: #CCCCCC; width: 8px; height: 8px; border-radius: 50%; content: ''; left: -10px; top: 0; display: inline-block; position: relative}*/
.left-navi ul li .invisible_space {display: none; position: absolute; width: 8px; height: 13px; z-index: 10; top: 3px; left: -20px;}
.left-navi ul li:hover .invisible_space{display: block;}
.left-navi ul li .gear_menu {display: none; margin-right: 4px !important; padding: 0; color: #999; width: 15px; height: 3px; position: absolute; top: -2px; right: 0;}
.left-navi ul li:hover .gear_menu {display: block;}

.middle-calender-search{width: 930px; background: #FFFFFF; padding: 20px;}
.middle-calender-search h2{font-weight: 700; font-size: 16px; color: #424242; text-transform: uppercase; margin: 0 0 20px;}

.current-process{margin-bottom: 30px;}
.current-process ul{margin: 0 0 30px; padding: 0; list-style: none}
.current-process ul:last-child{margin-bottom: 0;}
.current-process ul li{font-size: 14px; line-height: 40px; color: #000000; padding-left: 10px; position: relative;}
.current-process ul li:before{background: #CCCCCC; width: 8px; height: 8px; border-radius: 50%; content: ''; left: -10px; top: 0; display: inline-block; position: relative}
.current-process ul li .ic_menu {display: block; margin-right: 4px !important; padding: 0; color: #999; width: auto; height: auto; position: absolute; top: -2px; right: 0;}
.current-process ul li .ic_menu img{margin-left: 8px;}

.time-bot{margin-bottom: 30px;}
.time-bot h3{color: #ea4d5b; text-transform: uppercase; font-size: 16px; margin: 0 0 10px;}
.time-bot ul{margin: 0 0 30px; padding: 0; list-style: none}
.time-bot ul:last-child{margin-bottom: 0;}
.time-bot ul li{font-size: 14px; line-height: 40px; color: #000000; padding-left: 10px; position: relative;}
.time-bot ul li:before{background: #CCCCCC; width: 8px; height: 8px; border-radius: 50%; content: ''; left: -10px; top: 0; display: inline-block; position: relative}
.time-bot ul li .ic_menu {display: block; margin-right: 4px !important; padding: 0; color: #999; width: auto; height: auto; position: absolute; top: -2px; right: 0;}
.time-bot ul li .ic_menu img{margin-left: 8px;}
.time-bot .accordion2 dt{color: #f36c62; text-transform: uppercase; font-size: 15px; margin: 0 0 10px; padding: 10px 0 10px 25px; font-weight: bold;}
.time-bot .accordion2 span{padding: 0 0 20px}
.time-bot .accordion2 .open{background: url(/assets/images/minus2.png) no-repeat center left;}
.time-bot .accordion2 dt{background: url(/assets/images/plus2.png) no-repeat center left;}
.time-bot .tab{width: 100%; display: flex; border-bottom: 2px solid #ececec;}
.time-bot .tab ul{margin: 0; padding: 0; list-style: none}
.time-bot .tab ul li{padding: 0; float: left; margin-right: 3px; font-size: 14px; font-weight: bold}
.time-bot .tab ul li:before{display: none; }
.time-bot .tab ul li a{border: 2px solid #ea4d5b; background: #ea4d5b; color: #FFFFFF; border-bottom: none; line-height: 40px; display: inline-block; padding: 0 20px; }
.time-bot .tab ul li a:hover{border: 2px solid #ececec; border-bottom: none; color: #333333; background: #FFFFFF}
#accordion3{border: 2px solid #ececec; border-top: none; padding: 20px;}

@media only screen and (min-width:1200px) and (max-width:1399px) {

}

@media only screen and (min-width:992px) and (max-width:1199px) {
	
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 640px) and (max-width: 767px) {
	
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
		
}

@media only screen and (min-width: 320px) and (max-width: 479px) {
.overlay .modal{width: 280px;}
.overlay .modal .header, .overlay .modal .text{width: 280px; margin: 0;}	
}

/*Drag and Drop CSS */
.btn {
    margin-right: 8px;
}

.angular-ui-tree-handle {
    background: #f8faff;
    border: 1px solid #dae2ea;
    color: #7c9eb2;
    padding: 10px 10px;
}

.angular-ui-tree-handle:hover {
    color: #438eb9;
    background: #f4f6f7;
    border-color: #dce2e8;
}

.angular-ui-tree-placeholder {
    background: #f0f9ff;
    border: 2px dashed #bed2db;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

tr.angular-ui-tree-empty {
    height:100px
}

.group-title {
    background-color: #687074 !important;
    color: #FFF !important;
}
#nav li{
  border-bottom: 1px solid #f1f1f1;
  font-size: 12px;
  font-weight: normal;
  line-height: 21px;
  padding: 10px 20px;
  font-family: 'Open Sans', sans-serif;
 /* background-image: url(/assets/images/open.png);
  background-position: right 20px center;
  background-repeat: no-repeat;*/
}
#nav li ul{padding: 0px 10px;}
#nav li a{  
  text-transform: uppercase; 
  margin: 0px 0 10px; 
  background-position: right 20px center;
  background-repeat: no-repeat;
  color: #333333;
  padding: 10px 10px;  
}
.squaredThree label{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    content: "\25AE";
    font-family: FontAwesome;
    top: 2px;
    left: 0px;
    margin-right: 5px;
    background:none;
}
.squaredThree span{padding-left: 0px;}
/* --- Tree --- */
